@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
<root>
    <div class="title-container">
        <h1 class="title">Bronze Money Printer</h1>
    </div>
    <div class="printer-stats">
        <div class="money">@((printerLogic?.PrinterCurrentMoney.ToString() ?? "N/A") + " $")</div>
    </div>
</root>

@code
{

    [Property] GameObject PrinterPrefab { get; set; }


    PrinterLogic printerLogic;
    protected override void OnStart()
    {
        printerLogic = PrinterPrefab.Components.Get<PrinterLogic>();
    }


    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() =>
    System.HashCode.Combine(PrinterPrefab.Components.Get<PrinterLogic>().PrinterCurrentMoney);
}
