@using Sandbox;
@using Sandbox.UI;
@using GameSystems;
@using GameSystems.Player;
@using System.Threading.Tasks;
@using Entity.Interactable.Props;
@using Entity.Interactable.Printer;
@using System.Text.RegularExpressions;
@attribute [StyleSheet( "../MenuStyle.scss" )]

<root style="width: 100%;">
  <div class="section">
    <div class="section-title">Admin Tools</div>
    <div class="section-contents">
        <div class="info" style="color: red;">
            <h1>TODO</h1>
        </div>
    </div>
    </div>
</root>

@code {
}