@using Sandbox;
@using Sandbox.UI;
@using Entity.Interactable.Printer;
@using Utils;
@inherits PanelComponent

<root>
    <div class="title">$ @(NumberUtils.FormatNumberWithSuffix(PrinterLogic.PrinterCurrentMoney))</div>
</root>

@code
{
    PrinterLogic PrinterLogic { get; set; }

    protected override void OnStart()
    {
        PrinterLogic = GameObject.Parent.Components.Get<PrinterLogic>();
        if (PrinterLogic == null)
        {
            Log.Warning("PrinterLogic not found");
        }
    }

   // [Property] public GameObject Printer { get; set }


    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(PrinterLogic?.PrinterCurrentMoney);
}

<style>
    Printer {
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #0d0d0d;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-radius: 5px;
        font-family: 'DS-Digital';

	.title {
		font-size: 50px;
		color: green;
	}
}


</style>